.navbar{
  border: solid;
  border-color:#fff8f0;
  border-radius: 30px;
  color: whitesmoke;
  background-color: #f8a36d;
  padding-top: 20px;
  margin-top: -20px;
}

.navbar a{
  color: whitesmoke;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}

body{
  background: url("background-map.jpg");
  background-size: auto;
}

#nscoll{
  overflow: hidden;
}

.welcome p{
  position: relative;
  top: 50px;
  left: 5px;
  text-align: center;
  color: whitesmoke;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  letter-spacing: 7px;
  color: #f8a36d;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.description{
  position: relative;
  top: 90px;
  text-align: center;
  border: solid;
  border-color: whitesmoke;
  border-radius: 30px;
  background-color: #f8a36d;
  color: whitesmoke;
  width: 100%;
}

.description p{
  font-family: 'Roboto Mono', monospace;
}

.description a{
  color: whitesmoke;
  text-decoration: none;
}

.description .noted p{
  text-align: center
}

.description-login-register {
  position: relative;
  top: 90px;
  text-align: center;
}

.description-route{
  position: relative;
  top: 90px;
  text-align: Center;
  border: solid;
  border-color: whitesmoke;
  border-radius: 30px;
  background-color: #f8a36d;
  color: whitesmoke;
  width: 100%;
}

.description-route p{
  font-family: 'Roboto Mono', monospace;
}

.description-route .topic p{
  color: whitesmoke;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  letter-spacing: 7px;
  color: #f8a36d;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.form {
  position: relative;
  top: 70px;
}

.table{
  position: relative;
  top: 90px;
  border: solid;
  border-color: whitesmoke;
  border-radius: 30px;
  color: whitesmoke;
  background-color: #f8a36d;
  font-family: 'Roboto Mono', monospace;
}

.table legend{
  text-align: center;
}

#map {
  position: relative;
  top: 75px;
  left: 16.66%;
  height: 325px;
  width: 66.64%;
}

.cat{
  position: relative;
  top: 100px;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #f8a36d;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

@media only screen and (min-width: 760px) {
  .welcome p{
    font-size: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .description {
    left: 16.66%;
    width: 66.64%;
  }
  .description-route {
    left: 16.66%;
    width: 66.64%;
  }
  .table{
    left: 16.66%;
    width: 66.64%;
  }
}

@media only screen and (min-width: 1200px){
  body{
      background-size: cover;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Square+Peg&display=swap');