<!DOCTYPE html>

<html lang="en">

<head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Welcome</title>
        <script src="https://kit.fontawesome.com/4db043bd42.js" crossorigin="anonymous"></script>

</head>

<body id="nscoll" data-barba="wrapper">

    <div class="load-container">
        <div class="loading-screen"></div>
    </div>

    <main data-barba="container" data-barba-namespace="home">

    <header>

        <nav class="navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://cs50.harvard.edu/x/2022/project/">CS50's Final Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="/home" rel="noreferrer noopenner">Home</a>
                        <a class="nav-link" href="/main" rel="noreferrer noopenner">WhereTo</a>
                        <a class="nav-link" href="/contact" rel="noreferrer noopenner">Contact</a>
                        <a class="nav-link disabled">Add Locations (Next Features)</a>
                        <a class="nav-link" href="/logout" rel="noreferrer noopenner">Log out</a>
                    </div>
                </div>
            </div>
        </nav>

    </header>

        <div class="animated">
            <div class="welcome">
                <p>"welcome"</p>
        </div>

            <div class="description">
                <p>This is my <a href="cs50.harvard.edu/x/2022" rel="noreferrer noopener">CS50</a>'s Final Project which call "WhereTo"</p>
                <p>It is a website that tell you how to go to someplaces popular way or correct way (and precisely)</p>
                <p>And tell you how much you gonna spend to travel that places!!</p>
                <i class="fa-solid fa-location-dot"></i>
                <i class="fa-solid fa-car"></i>
                <i class="fa-solid fa-plane"></i>
                <i class="fa-solid fa-earth-americas"></i>
                <i class="fa-solid fa-earth-asia"></i>
                <i class="fa-solid fa-route"></i>
                <i class="fa-solid fa-dollar-sign"></i>
                <div class="noted">
                    <p>**NOTE**<br>note that all of the page on this website is just the assignment of my course so don't take it so seriosly</p>
                </div>
                <br>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-peace"></i>
                <i class="fa-solid fa-atom"></i>
                <i class="fa-solid fa-rocket"></i>
                <i class="fa-solid fa-ice-cream"></i>
                <i class="fa-solid fa-note-sticky"></i>
                <i class="fa-solid fa-robot"></i>
                <i class="fa-solid fa-apple-whole"></i>
                <i class="fa-solid fa-tree"></i>
            </div>
        </div>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <script src="/static/app.js"></script>

</body>

</html>